
.ssа{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}





html{
background: -webkit-linear-gradient(180deg, rgb(65, 105, 225), rgb(218, 165, 32), rgb(0, 139, 139));
background: -moz-linear-gradient(180deg, rgb(65, 105, 225), rgb(218, 165, 32), rgb(0, 139, 139));
background: linear-gradient(180deg, rgb(65, 105, 225), rgb(218, 165, 32), rgb(0, 139, 139));
}

body{
    font-size: 20px;
}

header{
    background-color: #4169e1;
}

footer{
    background-color: #008b8b;
    color: #054343;
}

h1{
    font-size: 25px;
}

.tenor-gif-embed{
    display: inline-flex;
}

.a{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}
.s{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}
.d{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}
.f{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex; 
}
.g{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}
.h{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}

.j{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}

.k{
    padding-left: 15px;
    padding-right: 15px;
    border: #4169E1 solid 3px;
    background-color: #4169E1;
    color: black;
    display: inline-flex;
}

a:visited{
    color: black;
}

.ddfg:visited {
    color: rgb(0, 139, 139);
}

.logo{
display: inline-block;
}

.menu{
    display: inline-block;
    }
.ewr{
    text-align: center;
}
.erd{
    text-align: center;
    display: inline-flex;
}
.erd1{
    display: inline-flex;
}
.erd2{
    display: inline-flex;
    text-align: left;
}

.ery{
    text-align: center;
    display: inline-flex;
}
.ery1{
    display: inline-flex;
}
.ery2{
    display: inline-flex;
    text-align: left;
}

.eru{
    text-align: center;
    display: inline-flex;
}
.eru1{
    display: inline-flex;
}
.eru2{
    display: inline-flex;
    text-align: left;
}

