html{
    background: rgb(189,214,131);
background: linear-gradient(180deg, rgba(189,214,131,1) 0%, rgba(255,223,38,1) 100%);
}
body{
    font-size: 20px;
}

header{
    background-color: #bdd683;
}

footer{
    background-color: #ffdf26;
    color: #917f18;
}

h1{
    font-size: 25px;
}

.tenor-gif-embed{
    display: inline-flex;
}

.a{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}
.s{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}
.d{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}
.f{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex; 
}
.g{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}
.h{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}

.j{
    padding-left: 15px;
    padding-right: 15px;
    border: #bdd683 solid 3px;
    background-color: #bdd683;
    color: black;
    display: inline-flex;
}

a:visited{
    color: black;
}

.logo{
display: inline-block;
}

.menu{
    display: inline-block;
    }
.ewr{
    text-align: center;
}